---
---

@import "{{ site.theme }}";

/* Override header styles */
header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
  background-color: #2e7bcf; /* Fallback background color */
}

body, .markdown-body {
  font-family: 'Corbel', sans-serif; /* Specify the font name and fallback */
  color: white; /* Set text color to white */
  background-color: black; /* Set background color */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Corbel', sans-serif !important; /* Apply Corbel font to headers */
  font-weight: bold !important; /* Make headers bold */
  color: white; /* Set text color to white */
}
