---
---

@import "{{ site.theme }}";

body, .markdown-body {
  font-family: 'Corbel', sans-serif; /* Specify the font name and fallback */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Corbel', sans-serif; /* Specify the font name and fallback */
  font-weight: bold;
}
